$primarycolor : blueviolet;
$secondarycolor : #BDACEA;
$font-stack : Arial, Helvetica, sans-serif;

%title{
    display: flex;
    flex-wrap: wrap;
    color: $primarycolor;
    font-size: 400%;
    text-shadow: -2px 0 $secondarycolor, 0 2px $secondarycolor, 2px 0 $secondarycolor, 0 -2px $secondarycolor;
}

%titlehover{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 400%;
    text-shadow: -2px 0 $primarycolor, 0 2px $primarycolor, 2px 0 $primarycolor, 0 -2px $primarycolor;
}

%subtitle{
    color: $secondarycolor;
    font-size: 150%;
    text-shadow: -2px 0 $primarycolor, 0 2px $primarycolor, 2px 0 $primarycolor, 0 -2px $primarycolor;
}

%subtitlehover{
    color: white;
    font-size: 150%;
    text-shadow: -2px 0 $secondarycolor, 0 2px $secondarycolor, 2px 0 $secondarycolor, 0 -2px $secondarycolor;
}

body{
    font-size: large;
    font-family: $font-stack;
    background-image: url("../img/texture02.jpg");
}

header{
    background-image: url("../img/texture01.jpg");
    width: 100%;
    height: 70px;
    color: $primarycolor;
    position: sticky;
    top: 0px;
    z-index: 3;

    #menu{
        color:$primarycolor;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        a{
            color: inherit;
            text-decoration: none;
        }
        a:hover{
            color : $secondarycolor;
            text-decoration: none;
        }
        button:hover{
            background-color: $secondarycolor;
        }
    }
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

#hero{
    width: 100%;
    height: auto;
    margin-top: 40px;
    .row{
        margin:15px;
    }
    #title{
        margin-top: 100px;
        div{
            margin-top: 100px;
        }
    }
    .mainimg{
        img{
            border-radius: 30px;
            width: 100%;
            height: auto;
        }
    }
    h1{
        @extend %title;
    }
    h1:hover{
        @extend %titlehover;
    }
    h2{
        @extend %subtitle;
    }
    h2:hover{
        @extend %subtitlehover;
    }
    p{
        color: $secondarycolor;
    }
    .join button{
        border-color: black;
        margin:15px;
        height: 50px;
        width: 400px;
    }
    button:hover{
        background-color: $secondarycolor;
    }
    .preview{
        margin-top: 100px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .carousel{
        img{
            border-radius: 10px;            
        }
        h5, p{
            color: white;
            text-shadow: -1px 0 $primarycolor, 0 1px $primarycolor, 1px 0 $primarycolor, 0 -1px $primarycolor;
        }
    }
}

footer{
    height: 100px;
    width: 100%;
    background-image: url("../img/texture01.jpg");
    color: $primarycolor;
    list-style: none;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 20px;
    a{
        color:inherit;
        text-decoration: none;
    }
    a:hover{
        color: $secondarycolor;
        text-decoration: none;
    }
    li{
        display: inline;
        margin: 10px;
        img{
            width: 30px;
            height: 30px;
            margin: 3px;
        }
    }
}