header #menu, footer, .sidebar {
  list-style: none; }
  header #menu a, footer a, .sidebar a {
    color: inherit;
    text-decoration: none; }
  header #menu a:hover, footer a:hover, .sidebar a:hover {
    color: #BDACEA;
    text-decoration: none; }

.trending div, .competition div, .info div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; }
  .trending div .card, .competition div .card, .info div .card {
    margin: 30px; }

#hero h1 {
  display: flex;
  flex-wrap: wrap;
  color: blueviolet;
  font-size: 400%;
  text-shadow: -2px 0 #BDACEA, 0 2px #BDACEA, 2px 0 #BDACEA, 0 -2px #BDACEA; }

#hero h1:hover {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 400%;
  text-shadow: -2px 0 blueviolet, 0 2px blueviolet, 2px 0 blueviolet, 0 -2px blueviolet; }

#hero h2 {
  color: #BDACEA;
  font-size: 150%;
  text-shadow: -2px 0 blueviolet, 0 2px blueviolet, 2px 0 blueviolet, 0 -2px blueviolet; }

#hero h2:hover {
  color: white;
  font-size: 150%;
  text-shadow: -2px 0 #BDACEA, 0 2px #BDACEA, 2px 0 #BDACEA, 0 -2px #BDACEA; }

@media (max-width: 1000px) {
  .large {
    display: none !important; }

  .small {
    display: absolute !important; }

  .ss_img {
    display: none; }

  .sidebar {
    display: none !important; } }
@media (min-width: 1001px) {
  .small {
    display: none !important; }

  .large {
    display: absolute !important; } }
body {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/texture02.jpg"); }

header {
  background-image: url("../img/texture01.jpg");
  width: 100%;
  height: 70px;
  color: blueviolet;
  position: sticky;
  top: 0px;
  z-index: 3; }
  header #menu {
    color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header #menu button:hover {
      background-color: #BDACEA; }
  header #collapsibleNavbar {
    background-color: white;
    position: fixed;
    top: 70px;
    right: 10px;
    padding: 5px;
    border-radius: 5px; }
    header #collapsibleNavbar li a {
      text-align: center; }

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap; }

#hero {
  width: 100%;
  height: auto;
  margin-top: 40px; }
  #hero .row {
    margin: 15px; }
  #hero #title {
    margin-top: 100px; }
    #hero #title div {
      margin-top: 100px; }
  #hero .mainimg img {
    border-radius: 30px;
    width: 100%;
    height: auto; }
  #hero p {
    color: #BDACEA; }
  #hero .join button {
    border-color: black;
    margin: 15px;
    height: 50px;
    width: 400px; }
  #hero button:hover {
    background-color: #BDACEA; }
  #hero .preview {
    margin-top: 100px; }
    #hero .preview img {
      width: 100%;
      height: auto; }
  #hero .carousel img {
    border-radius: 10px; }
  #hero .carousel h5, #hero .carousel p {
    color: white;
    text-shadow: -1px 0 blueviolet, 0 1px blueviolet, 1px 0 blueviolet, 0 -1px blueviolet; }

footer {
  background-image: url("../img/texture01.jpg");
  color: #BDACEA;
  font-size: 80%;
  margin-top: 20px; }
  footer h6 {
    color: blueviolet; }
  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  footer li {
    display: inline;
    margin-left: 5px; }
    footer li img {
      width: 30px;
      height: 30px;
      margin: 3px; }
  footer .row div {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }

.sidebar {
  position: fixed;
  right: 0;
  margin-top: 40px;
  z-index: 3;
  list-style: none; }
  .sidebar button {
    width: 120px;
    height: auto; }

.trending h3, .competition h3, .info h3 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px black;
  margin-top: 100px; }

/*# sourceMappingURL=style.css.map */
