{% extends "layout.html" %}

{% block section %}
        <div class="container">
          <div class="row" id="video">
            <iframe width="1120" class="largescreenvideo" height="630" src="https://www.youtube-nocookie.com/embed/kN0RudjvonU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="450" class="smallscreenvideo" height="254" src="https://www.youtube-nocookie.com/embed/kN0RudjvonU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>New Application Concept</h2>
            <h1>Create a New World by Your Device</h1>
          </div>


          <div class="row text-center">
            <div class="col">
                <h4>People Joined</h4>
                <i class="fa fa-code fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="5000" data-speed="10000000"></h2>
                <p class="count-text">Already Join</p>
            </div>
          </div>
          
          <div class="row" id="why">
                <div class="col-lg-7 col-sm-12 col-md-12">
                    <div class="row text-center">
                        <h2>Why Join BetaTester?</h2>
                        <p>Get the most interesting apps theme and avatar only by join! <br>Free trial of premium user privileges</p>
                        <img src="{{ url_for('static',filename='img/border1.png') }}" alt="border1" style="width: 200px; height: 200px;">
                        <img src="{{ url_for('static',filename='img/gem.png') }}" alt="gem" style="height: 150px; width:233px">
                    </div>

                    <div class="row text-center">
                        <table>
                            <thead>
                                <th>No</th>
                                <th>Privileges</th>
                                <th>Premium</th>
                                <th>Non Premium</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>Gem</th>
                                    <th>500/day</th>
                                    <th>100/day</th>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>Border</th>
                                    <th>One special border</th>
                                    <th>One common border</th>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <th>Theme</th>
                                    <th>Two different elegant themes</th>
                                    <th>One elegan theme</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row join">
                        <a href="user.html"><button type="button" class="btn btn-dark">Join Now!</button></a>
                        
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-md-12">
                    <div class="row text-center donate">
                        <h2>Interest to Donate?</h2>
                        <p>Get special avatar, theme, and lifetime premium access for donating (no minimum amount)
                        <a href="">Donate Now</a> 
                        <br>Don't have money? Donate with 
                        <a href="https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Fxenoveal.github.io%2FBuildUp">share</a>
                        </p>
                        <img src="{{ url_for('static',filename='img/border2.png') }}" alt="border1" style="width: 280px; height: 280px;">
                    </div>
                </div>
          </div>
     
        </div>

{% endblock %}